{%- if site.footer_content -%}
  {% if page.date %}
    {{ page.date }}
  {% endif %}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<nav>
  Fediverse.Radio Web Ring
  <br/>
   <a href="https://ring.fediverse.radio/ring.php?site=journal.seefar.dev&direction=previous">← Back</a>
   <a href="https://ring.fediverse.radio/ring.php?site=journal.seefar.dev&direction=random">↑ Random</a>
   <a href="https://ring.fediverse.radio">↓ Ring Home</a>
   <a href="https://ring.fediverse.radio/ring.php?site=journal.seefar.dev&direction=next">Next →</a>
</nav>